# Node
node_modules/

#Environment Variables
.env
.env.*
!.env.example

# playwright
test-results/
playwright-report/
blob-report/

# Allure
allure-results/
allure-report/

# vs code
.vscode/

#os files
.DS_Store
Thumbs.db

# Logs
*.log